@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #000;
}

@keyframes knock {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-knock {
  animation: knock 1s infinite;
}

.content h2 {
  font-size: 2rem;
}

.content p {
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

.content a {
  color: gainsboro;
  font-weight: 500;
  text-decoration: underline;
}

.content a:hover {
  color: #fff;
}
